name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  HUSKY: 0 # disable Git hooks
  NODE_VERSION: 20

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm i

      - name: Run tests
        run: npm test

      - name: Run Build
        run: npm run build
